body {
    font-family: Arial, sans-serif;
    background-color: #0f172a;
    color: #e5e7eb;
    padding: 20px;
}

h1, h2{
    color: #92c5fd
}

#onion-path {
    display: flex;
    align-items: center;
    margin: 30px 0;
}

.node {
    padding: 15px 20px;
    border-radius: 8px;
    background: #374151;
    min-width: 90px;
    text-align: center;
    font-weight: bold;
}

.arrow {
    margin: 0 10px;
    font-size: 24px;
}

.node.idle { background: #374151; }
.node.processing { background: #facc15; color: #000; }
.node.success { background: #22c55e; color: #000; }
.node.failed { background: #ef4444; }

#log {
    background: #020617;
    border: 1px solid #334155;
    padding: 10px;
    height: 200px;
    overflow-y: auto;
    font-family: monospace;
}

.log-entry {
    margin-bottom: 5px;
}